fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
motor
pymongo
dnspython
groq
google-genai
google-auth
PyJWT
httpx
requests
gTTS
python-multipart
sentence-transformers
chromadb
torch
numpy
transformers